.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.App-header {
  position: fixed;
  top: 1rem;
  left: 2rem;
  color: black;
}

.App-title {
  font-size: 1.5rem;
  color: forestGreen;
  text-align: left;
  letter-spacing: -.05rem;
}
