.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  position: fixed;
  top: 2rem;
  left: 2rem;
  color: black;
}

.App-title {
  font-size: 1.5rem;
  color: forestGreen;
  text-align: left;
  letter-spacing: -.05rem;
  width: 60vw;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
