html, body, div, section, header, form, input, label, p, span, button, main, textarea {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    color: forestGreen;
    font-size: 100%;
    font-family: System, sans-serif;
    vertical-align:baseline;
    background:transparent;
}

@media screen and (max-device-width: 480px){
  body {
    -webkit-text-size-adjust: none;
  }
}

@font-face {
  font-family: System;
  src: local("System Font"),
       url("./fonts/UniversLTStd-LightCn.otf") format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: System;
  src: local("System Font"),
       url("./fonts/UniversLTStd-Light.otf") format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: System;
  src: local("System Font"),
       url("./fonts/UniversLTStd-Cn.otf") format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: System;
  src: local("System Font"),
       url("./fonts/UniversLTStd.otf") format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: System;
  src: local("System Font"),
       url("./fonts/UniversLTStd-Ex.otf") format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: System;
  src: local("System Font"),
       url("./fonts/UniversLTStd-Bold.otf") format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: System;
  src: local("System Font"),
       url("./fonts/UniversLTStd-BoldEx.otf") format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: System;
  src: local("System Font"),
       url("./fonts/UniversLTStd-Black.otf") format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: System;
  src: local("System Font"),
       url("./fonts/UniversLTStd-BlackEx.otf") format('opentype');
  font-weight: 900;
}
