.Subscribe {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.5rem;
  color: forestGreen;
}

.Subscribe-display {
  position: fixed;
  left: 2rem;
  bottom: 7.5rem;
  font-size: 1.5rem;
}

.Subscribe-textarea {
  border: none;
  font-size: inherit;
  color: forestGreen;
  border-bottom: 2px solid rgba(45, 134, 75, 0);
  transition: border ease 200ms;
}

.Subscribe-textarea:focus, .Subscribe-textarea:active {
  border: 0;
  outline: 0;
  border-bottom: 2px solid forestGreen;
}

.Subscribe-button {
  padding-right: 1rem;
  font-size: inherit;
  text-align: right;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: forestGreen;
}
::-moz-placeholder { /* Firefox 19+ */
  color: forestGreen;
}
:-ms-input-placeholder { /* IE 10+ */
  color: forestGreen;
}
:-moz-placeholder { /* Firefox 18- */
  color: forestGreen;
}
